h1 {
    text-align: center;
    color: rgb(233, 224, 224);

    
}


body{

    

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;   
    background: linear-gradient(to right, #204fb5, #c96be5);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    

    color: rgb(233, 224, 224);

    font-family: "sans-serif"; color: #f4f0f0;

   

}

#caixa{

    margin-top: 40px;

    background-color: #9863d8;
    
    width: 390px;
    height: 340px;
    font-size: 20px;    

    /*
    border-color: purple;
    box-shadow: 200px rgb(39, 38, 38);*/
    border-radius: 15px;
    border-color: purple;

   

    
}

input{
    width: 330px;

    /*pq que quando eu coloque o padding-bottom o texto dentro do input ficou em cima
    e quando eu coloquei apenas o padding, o texto ficou de maneira normal?*/
    padding: 12px 10px;
    border-radius: 15px;

    

    /*  pq o border-color deixou as bordas com cores diferentes do input?
    e pq apenas o border deixou as bordas da mesma cor que o input
    */
    border: white;

    margin-bottom: 20px;
    
    
}

#botao{

    margin-top: 2px;
    padding: 10px;
    border-radius: 15px;
    border: white;
    width: 80px;
    background-color: #204fb5;
    color: rgb(233, 224, 224);
}

