body{
    text-align: center;
    background-color: rgb(127, 3, 143);
    font: normal 13pt Arial;
    color: rgb(28, 26, 26)

}
.inputs{
 
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

}


#botaoEnviar{

    width: 70px;
    height: 30px;
    margin-top: 20px;
    
}

#botaoMostrar{
    width: 70;

}

section#um{
    background: rgb(239, 234, 234);
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    margin: auto;
    box-shadow: rgb(16, 15, 15);
}

#tabela{
    margin: auto;
}