<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/enviar" method="post" id="form">
                
        <p class="textos">Qual é o seu nome?</p> 
        <input type="text" name="textname" id="textname" class="inputs"> 
                
                
              
                <p class="textos">
                Qual foi a matéria? </p>
                <input type="text" name="textmateria" id="textmateria" class="inputs">
               

                <p class="textos">               
                Horas estudadas:</p> <input type="number" name="horas" id="horas" class="inputs">

                <p class="textos">Quantas questões:</p>
                 <input type="number" name="numberquestoes" id="numberquestoes" class="inputs">


                <p class="textos">Quantas certas: </p> <input type="number" name="numbercertas" id="numbercertas"class="inputs">
                

                <p >
                <button id="botaoEnviar" type="button" onclick="botaoEnviar()" >Enviar</button>
                </p>
        </form>

    
</body>
</html>