<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
    </head>

    <body>

        <form action ="/enviar" method="post">
            <h1 id="titulo">
                Relatório de Estudos</h1>

            <div id="caixa">
                <p>Digite o seu email:

                </p>

                <input type="email" name="email" id="email" pattern="">

                <p>Senha:

                </p>
                <input type="password" name="senha" id="senha">
<!-- 
                <a href="Não tem uma conta? Clique aqui">Não tem uma conta?Clique aqui</a> -->

                <button type="submit">Enviar</button>
            </div>

    </form>

    </body>
</html>