<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='estilo.css')}}">
    </head>
   
    <body>

            <h1 id="titulo">
                Bem-vindo ao site Relatório de Estudos!</h1>

            <div id="caixa">
                <p>Digite o seu email:
              
                </p>
                <input type="email" name="email" id="email">

                <p>Senha:
                
                </p>
                <input type="password" name="senha" id="senha">

                <button type="button">Enviar</button>
            </div>



            

            
                
    </body>
</html>